.btn {
  display: inline-block;
  min-width: 300px;
  line-height: 60px;
  padding: 0 20px;
  color: $white-color;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  border: solid 2px $white-color;
  text-decoration: none;
  transition: 0.5s all;

  &_schedule{
    height: 40px;
    line-height: 40px;
    color: #fd8329;
    border: solid 2px #fd8329;
    font-size: 12px;
    &:hover{
      color: $white-color;
      background-color:  #fd8329;
    }
  }
  &_cost{
    @extend .btn_schedule;
    min-width: 140px;
  }
}
