.slider {
  position: relative;
  padding-bottom: 80px;

  &__bg {
    position: absolute;
    width: 100%;
    height: 60%;
    background-color: $light-khaki;
    z-index: -1;
  }

  &__title {
    margin-bottom: 82px;
  }

  &__picture {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  &__item {
    position: relative;
    width: 400px;
    height: 380px;
    cursor: pointer;


    img {
      width: 100%;
      height: 100%;
    }

    &_left {
      order: 1;
      margin-left: -150px;

      .slider__item-content {
        display: none;
      }
    }

    &_right {
      order: 3;
      margin-right: -150px;

      .slider__item-content {
        display: none;
      }
    }

    &_active {
      order: 2;
      position: relative;
      width: 60%;
      margin: 0 30px;
      height: 580px;
      text-align: center;
      color: $white-color;
      cursor: default;
      flex-shrink: 0;

      &:before {
        content: '';
        top: 30px;
        bottom: 30px;
        right: 30px;
        left: 30px;
        position: absolute;
        border: 1px solid $white-color;
      }

    }
  }

  &__item-content {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, .3);
  }

  &__item-title {
    margin: 209px auto 24px;
    font-size: 26px;
    text-transform: uppercase;
    max-width: 80%;
  }

  &__item-text {

    font-size: 18px;
    text-align: center;
    font-weight: 300;
    max-width: 464px;
    margin: 0 auto;
  }
}

@media (max-width: 990px) {
  .slider {
    &__item {
      height: 350px;

      &_left {
        margin-left: -180px;
      }

      &_right {
        margin-right: -180px;
      }

      &_active {
        height: 400px;
        width: 70%;

        &:before {
          top: 20px;
          bottom: 20px;
          right: 20px;
          left: 20px;
        }
      }
    }

    &__item-title {
      margin: 90px auto 24px;
      font-size: 22px;
    }

    &__item-text {
      font-size: 16px;
    }
  }
}

@media (max-width: 767px) {
  .slider {
    padding-bottom: 60px;

    &__title {
      margin-bottom: 30px;
    }

    &__item {
      width: 200px;
      height: 180px;

      &_left {
        margin-left: -120px;
      }

      &_right {
        margin-right: -120px;
      }

      &_active {
        width: 70%;
        height: 250px;
        margin: 0 15px;

        &:before {
          top: 10px;
          bottom: 10px;
          right: 10px;
          left: 10px;
        }
      }
    }

    &__item-title {
      text-align: center;
      margin: 40px auto 15px auto;
      font-size: 16px;
      max-width: 100%;
    }

    &__item-text {
      font-size: 12px;
    }
  }
}
